/* nav */
nav {
  top: 0;
  left: 0;
  position: fixed;
  background-color: green;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a  {
  color: red;
}
nav .nav-title {
  padding-left: 1em;
}
nav .nav-contact {
  padding-right: 1em;
}

/* connection list */
.connection-list {
  left: 0;
  top: 80px;
  position: fixed;
  width: 30%;
  background-color: aqua;
  border: 5px solid crimson;
  color: black;
}